.newpostdiv {
  flex-direction: column;
  font-family: Libre-Baskerville;
  background-image: url("https://i.pinimg.com/originals/47/b5/67/47b567ff37393b5c564cbe1186e90662.jpg ");
}

input {
  width: 250px;
  height: 34px;
}

.inputs {
  justify-content: center;
  margin-left: 41.1%;
}

label {
  margin-top: 4%;
  margin-bottom: 1%;
}

form {
  flex-direction: column;
  display: flex;
  font-family: 'Orbitron', sans-serif;
  justify-content: center;
  font-weight: bold;
}

textarea {
  width: 800px;
  height: 400px;
  margin-left: 18%;
  margin-bottom: 0%;
}

form textarea {
  justify-content: center;
}

#submitpost {
  justify-content: center;
  width: 200px;
  margin-left: 42.9%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#headerhead {
  font-family: 'Orbitron', sans-serif;
  color: black;
  margin-top: 4%;
}