.inspection button {
  text-decoration: none;
  background-color: white;
  color: #B33920;
  border: 0px;
}

.inspection img {
  border: solid 4px #B33920;
  margin-bottom: 2%;
  box-shadow: 0 17px 9px -7px rgba(0,0,0,0.35);
}

.inspection, h1 {
  font-family: 'Orbitron', sans-serif;
}

.inspection h2 {
  font-family: 'Orbitron', sans-serif;
}

.inspection p {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 1.5px #B33920; 
  max-width: 900px;
  box-shadow: 0 17px 9px -7px rgba(0,0,0,0.35);
  border-radius: 5px;
  margin-bottom: 1%;
}

.describe {
  align-self: center;
  margin: auto;
  padding: 25px;
}

.author {
  margin: 10%;
}

.combtn {
  position: relative;
  border: 0px;
  height: 30px;
  padding-left: 800px;
}

.inspimg {
  width: 100%;
  max-width: 728px;
  height: 100%;
  max-height: 455px;
}

@media only screen and (max-width: 375px) {
  .inspimg {
    width: 75%;
  }

  .inspection p {
    width: 325px;
    padding: 12px;
  }

  .combtn {
    margin: auto;
    padding-left: 0px;
  }
}