.comment-form {
  background-color: white;
  margin: auto;
  margin-bottom: .5%;
  height: 240px;
  width: 600px;
  border: solid 1px #B33920;
  border-radius: 16px;
  box-shadow: 0 17px 9px -7px rgba(0,0,0,0.35);
}

#comment {
  height: 100px;
  width: 500px;
}

#submit-comment {
  justify-content: center;
  width: 200px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 0.5%;
  background-color: #B33920;
  color: black;
}

@media only screen and (max-width: 375px) {
  .comment-form {
    width: 325px;
  }
  #comment {
    height:100px;
    width:310px;
  }
}
