.inspection button {
  text-decoration: none;
  /* border: none; */
  background-color: black;
  color: #B33920;
}

.inspection img {
  border: solid 4px #B33920;
}

.inspection, h1 {
  font-family: 'Orbitron', sans-serif;
}

.inspection h2 {
  font-family: 'Orbitron', sans-serif;
}
