.inspection button {
  text-decoration: none;
  background-color: black;
  color: #B33920;
}

.inspection img {
  border: solid 4px #B33920;
  margin-bottom: 2%;
  box-shadow: 0 17px 9px -7px rgba(0,0,0,0.35);
}

.inspection, h1 {
  font-family: 'Orbitron', sans-serif;
}

.inspection h2 {
  font-family: 'Orbitron', sans-serif;
}

.inspection p {
  background-color: #AEBAB1;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 2px #B33920; 
  max-width: 900px;
  box-shadow: 0 17px 9px -7px rgba(0,0,0,0.35);
  border-radius: 5px;
}

.describe {
  align-self: center;
  margin: auto;
  padding: 25px;
}

.author {
  margin: 10%;
}
