

.css-e53awj-MultiStack-root {
display: flex;
text-align: center;
justify-content: center;
background-color: #090809;
}

.header {
display: inline-flex;
background-color: #090809;
color: #BC0F0E;
width: 100%;
font-family: 'Orbitron', sans-serif;
border-bottom: solid 4.2px #BC0F0E;
}

.header h1 {
  margin-left: 2%;
}

.header Button {
  color: #BC0F0E;
  background-color: #090809;
}

.menulist {
  background-color: #090809;
  color: white;
}

