

.css-e53awj-MultiStack-root {
display: flex;
text-align: center;
justify-content: center;
background-color: #311614;
}

.header {
display: inline-flex;
background-color: #090809;
color: #B33920;
width: 100%;
font-family: 'Orbitron', sans-serif;
border-bottom: solid 4.2px #B33920;
}

.header h1 {
  margin-left: 2%;
}

.header Button {
  color: #B33920;
  background-color: #090809;
}

.menulist {
  background-color: #311614;
  color: white;
}

a {
  text-decoration: none;
  color:white;
}

a:visited {
  color: white;
}

