.comments-display {
  background-color: white;
  margin: auto;
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 1%;
}

.comments-display p {
  border: solid 1px #B33920;
  box-shadow: 0 17px 9px -7px rgba(0,0,0,0.35);
  /* margin: auto; */
  margin-top: .5%;
  margin-bottom: 2%;
  height: 200px;
  width: 900px;
  flex-direction: row;
  flex-wrap: wrap;
  display: inline-flex;
}

#comments-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

#comment-content {
  text-align: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  margin: 2%;
}

#comData-section {
  width: 100%;
}

@media only screen and (max-width: 280px){
  #comment-content{
    width: 175px;
  } 
}

@media only screen and (max-width: 768px){
  #comment-content{
    margin: 2%;
  } 
}

@media only screen and (max-width: 1024px){
  #comment-content{
    margin: 2%;
  } 
}