.resourceCards {
  display: inline-flex;
  margin: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  margin: 30px;
  
}

.cards:hover {
  transform: translateY(-10px);
}

section {
  width:100%;
}

.resourcehead {
  font-family: 'Orbitron', sans-serif;
  display:block;
}
