

.css-e53awj-MultiStack-root {
display: flex;
text-align: center;
justify-content: center;
background-color: #311614;
}
/* #090809 */
.header {
display: inline-flex;
background-color: #000000;
color: #B33920;
width: 100%;
font-family: 'Orbitron', sans-serif;
border-bottom: solid 4.2px #B33920;
/* position: fixed; 
opacity: 0.98; */
}

.header h1 {
  width: 89%;
  justify-content: left;
  text-align: left;
  padding-left: 40px;
}

.header Button {
  color: #B33920;
  background-color: #000000;
}

.menulist {
  background-color: #311614;
  color: white;
}

a {
  text-decoration: none;
  color:white;
}

a:visited {
  color: white;
}

/* #hamburger Button {
  padding-left: 40vw;
  padding-top: 4vh;
  width: 10px;
}

#hamburger {
  width: 100px;
} */

#hamburger {
  width: 50px;
  padding-top: 20px;
  padding-right: 40px;
  background-color: #000000;
}

.headlogo {
  width: 450px;
  padding-top: 10px;
}

.headlogosec {
  text-align: left;
}

@media only screen and (max-width: 375px) {
  .headlogo {
    width: 275px;
    padding-top: 22px;
  }

  #hamburger {
    width: 25px;
  }
}

@media only screen and (max-width: 525px) {
  .headlogo {
    width: 275px;
    padding-top: 22px;
  }

  #hamburger {
    width: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .headlogo {
    width: 275px;
    padding-top: 22px;
  }

  #hamburger {
    width: 25px;
  }
}