

.css-e53awj-MultiStack-root {
display: flex;
text-align: center;
justify-content: center;
background-color: #311614;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  color: white;
  text-decoration: none;
}

.header {
display: inline-flex;
background-color: #000000;
color: #B33920;
width: 100%;
font-family: 'Orbitron', sans-serif;
border-bottom: solid 4.2px #B33920;
}

.header h1 {
  width: 89%;
  justify-content: left;
  text-align: left;
  padding-left: 40px;
}

.header Button {
  color: #B33920;
  background-color: #000000;
}

.menulist {
  background-color: #311614;
  color: white !important;
  z-index: auto;
}

a {
  text-decoration: none !important;
  color:white !important;
}

a:visited {
  color: white;
}

#hamburger {
  width: 50px;
  padding-top: 20px;
  padding-right: 40px;
  background-color: #000000;
  z-index: auto;
  margin-left: 10%;
  box-sizing: content-box !important;
}

.headlogo {
  width: 450px;
  padding-top: 10px;
}

.headlogosec {
  text-align: left;
}

ul#composition-menu {
  z-index: 10 !important;
}



@media only screen and (max-width: 320px) {
  .headlogo {
    width: 5px;
    padding-top: 22px;
    margin: 0px;
  }

  .header Button {
    width: 5px;
  }

  #composition-button {
    width: 5px;
  }
  
  .css-e53awj-MultiStack-root {
    width: 1px;
  }

  #hamburger {
    margin-left: 1.5%;
  }
}

@media only screen and (max-width: 525px) {
  .headlogo {
    width: 275px;
    padding-top: 22px;
  }

  #hamburger {
    width: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .headlogo {
    width: 250px;
    padding-top: 22px;
  }

  #hamburger {
    width: 25px;
  }
}

@media only screen and (max-width: 540px) {
  .headlogo {
    width: 250px;
    padding-top: 22px;
  }

  #hamburger {
    width: 25px;
  }
}