.footimg {
  height: 50px;
  padding-left: 20px;
  /* margin:; */
  display: inline-flex;
  justify-content: flex-start;
  padding-top: 8px;
}

.footer {
  background-color: #090809;
  border-top: solid 4.2px #B33920;
  margin: auto;
  display: flex;
}

.footer h6 {
  color: #B33920;
  font-size: 15px;
  font-family: fantasy;
  display: inline-flex;
  flex-wrap: wrap;
  height: 0px;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
  /* transform: translateY(-20px); */
}

.footer p {
  flex-wrap: wrap;
  margin: auto;
  margin-top: 20px;
  text-align: end;
  color: #090809;
  width: 50px;
  height: 20px;
  padding-right: 10px;
}

.footer p:hover {
  color:white;
}

@media only screen and (max-width: 414px) {
  .footer h6 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 375px) {
  .footer h6 {
    font-size: 12px;
  }
}

